<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huancheng.reader">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- ============================设置 Banner 权限 ========================== -->
    <!-- if you want to load images from the internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- ============================设置 Banner 权限 ========================== -->


    <!-- ============================设置 相机 权限 ========================== -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- ============================设置 相机 权限 ========================== -->
    <application
        android:name=".common.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.zz.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".ui.activity.sub.WelComeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 主界面 -->
        <activity
            android:name=".ui.activity.sub.MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.sub.LoginActivity" />
        <activity android:name=".ui.activity.sub.LoginPhoneActivity" />
        <activity android:name=".ui.activity.sub.RegisterActivity" />
        <activity android:name=".ui.activity.sub.ForgetPasswordActivity" />
        <activity android:name=".ui.activity.sub.SignActivity" />
        <activity android:name=".ui.activity.sub.NewsActivity" />
        <activity android:name=".ui.activity.sub.MyAccountActivity" />
        <activity android:name=".ui.activity.sub.InvitationCodeActivity" />
        <activity android:name=".ui.activity.sub.CollectionActivity" />
        <activity android:name=".ui.activity.sub.SetUpActivity" />
        <activity android:name=".ui.activity.sub.OpinionActivity" />
        <activity android:name=".ui.activity.sub.HelpActivity" />
        <activity android:name=".ui.activity.sub.AboutActivity" />
        <activity android:name=".ui.activity.sub.MyFriendActivity" />
        <activity android:name=".ui.activity.sub.VipActivity" />
        <activity android:name=".ui.activity.sub.RechargeActivity" />
        <activity android:name=".ui.activity.sub.FinishingBookActivity" />
        <activity android:name=".ui.activity.sub.ModifyDataActivity" />
        <activity android:name=".ui.activity.sub.BookInfoActivity" />
        <activity android:name=".ui.activity.sub.ManActivity" />
        <activity android:name=".ui.activity.sub.WomanActivity" />
        <activity android:name=".ui.activity.sub.EndBookActivity" />
        <activity android:name=".ui.activity.sub.BookListActivity" />
        <activity android:name=".ui.activity.sub.FindActivity" />
        <activity android:name=".ui.activity.sub.SearchActivity" />
        <activity android:name=".ui.activity.sub.BookClassIficationActivity" />
        <activity android:name=".ui.activity.sub.ManChannelActivity" />
        <activity android:name=".ui.activity.sub.WomanChannelActivity" />
        <activity android:name=".ui.activity.sub.EndBookAllActivity" />
        <activity android:name=".ui.activity.sub.NewBookMoreActivity" />
        <activity android:name=".ui.activity.sub.ManBookMoreActivity"></activity>
    </application>

</manifest>